<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gomobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.gomobile.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.gomobile.technicalservices.BarcodeScanner"
            android:label="@string/title_activity_barcode_scanner"
            android:parentActivityName="com.gomobile.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gomobile.Main" />
        </activity>
        <activity
            android:name="com.gomobile.LowDetailView"
            android:label="@string/title_activity_low_detail_view"
            android:parentActivityName="com.gomobile.technicalservices.BarcodeScanner" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gomobile.technicalservices.BarcodeScanner" />
        </activity>
        <activity
            android:name="com.gomobile.DetailView"
            android:label="@string/title_activity_detail_view"
            android:parentActivityName="com.gomobile.LowDetailView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gomobile.LowDetailView" />
        </activity>
        <activity
            android:name="com.gomobile.ComparisionView"
            android:label="@string/title_activity_comparision_view" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                 android:value="com.gomobile.technicalservices.BarcodeScanner" />
                
        </activity>
        <activity
            android:name="com.gomobile.Overviewer"
            android:label="@string/title_activity_Overviewer"
            android:parentActivityName="com.gomobile.technicalservices.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gomobile.technicalservices.Main" />
        </activity>
        <activity
            android:name="com.gomobile.RepairToDoList"
            android:label="@string/title_activity_repairToDoList"
            android:parentActivityName="com.gomobile.technicalservices.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gomobile.technicalservices.Main" />
        </activity>
        <activity
            android:name="com.gomobile.Pickuplist"
            android:label="@string/title_activity_pickuplist" >
        </activity>
        
         <activity
            android:name="com.gomobile.VideoPlayerController">
        </activity>
       
    <activity
            
            
            android:name="com.gomobile.shoppingcart.ShoppingCartView"
            android:label="@string/title_activity_shopping_cart_view" >
        </activity>
        
         
        <activity
            android:name="com.gomobile.technicalservices.DataConnectionActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
